
@model AdminVeterinariaMVC.Models.Animal

<p>Consulta de animal</p>


<p>Nombre: @Html.DisplayFor(model => model.Nombre)</p>

<p>Especie: @Html.DisplayFor(model => model.Especie)</p>

<p>Raza: @Html.DisplayFor(model => model.Raza)</p>

<p>Color: @Html.DisplayFor(model => model.Color)</p>

